
h1{
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 60px;
  color: #66bfbf;
}
h2{
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}
p
{
  color: #5B5B5B;
}
hr{

    border-style: none;
    border-top-style:dotted;
    border-color: grey;
    border-width: 8px;
    height: 0;
    width: 8%;
  }


/*********************class selector**************************/
.webdeveloper{
  font-size: 30px;
}
.topcontainer{
  position: relative;
  margin: 0;
  background-color: #E4F9F5;
  padding-top: 100px;
  }


 .image2{
   position: absolute;
   left: 300px;
   bottom: 300px;
 }
 .image1{
   position: absolute;
   right: 300px;
   top: 50px
  }
  .middle-container{
    background-color: white;
  }
  .my-profile-photo{
    height: 150px
  }
.middle-container{
  padding-top: 100px;
}
.hello{

  padding-top: 20px;
  padding-bottom: 20px;
}
.skill-icon{
  height: 150px;
}
.iamaweb{
  padding-bottom: 100px;
}
.myskills{
  padding-top: 100px;
  padding-bottom: 20px;
}
.skill-icon{
  padding-bottom: 50px;
  float: left;
  margin-right: 30px;
}
.premiere{
  padding-top: 50px;
  padding-bottom: 50px;
  height: 150px;
  float: right;

}
.lovetoedit{
  padding-bottom: 100px;
}
.getintouch{
  padding-top: 100px;
}
.contact{
  height: 150px;
  padding-bottom: 50px;

}
.getintouch{
  padding-bottom: 20px;
}
.lastpara{
  margin-bottom: 60px;

}
.footer{
  background-color: #66BFBF;
  margin-bottom: 0;
  padding-top: 50px;

}
.footer-link{
  color: #11999E;
}

.skill-row{
  width: 50%;
  margin: auto;

}
.skill-row{
  text-align: left;
  line-height: 2;

}
.vemm{
  padding-top: 100px;
}
.copyright{
  margin-bottom: 0px;
  font-size: 0.75rem;
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 40px;
  padding-top: 25px;
}

.btn {
  margin-bottom: 100px;
	box-shadow: 0px 4px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#11999E;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:12px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.btn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.btn:active {
	position:relative;
	top:1px;
}
a{
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;

}
a:hover{
  color: white;
}
